* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4e8c2;
}

.container {
  display: flex;
  gap: 8rem;
  margin-top: 6rem;
  margin-left: 2rem;
}

.calculator__wrapper {
  display: flex;
  gap: 15%;
  margin: 6rem 12rem;
}

.calculator__container {
  display: grid;
  grid-template-columns: repeat(4, 7rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 6rem);
}

.calculator__image {
  width: 23rem;
  border-radius: 50%;
}

button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0.6rem;
  font-size: 1rem;
}

.calculator__container button:hover,
.calculator__container button:focus {
  background-color: #7d8d72;
}

.span__two {
  grid-column: span 2;
}

.calculator__output {
  grid-column: 1/-1;
  background-color: #7d8d72;
  color: #fff;
  border-radius: 0.4rem;
  padding: 1rem;
  font-size: 3rem;
}

.calculator__operand {
  background: #face4d;
  color: #000;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background: #637454;
  position: static;
}

.app__title {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

nav {
  display: flex;
  gap: 2rem;
  font-weight: 600;
  margin-right: 4rem;
}

.nav__item {
  text-decoration: none;
  color: #fff;
}

.home__container h1 {
  text-align: center;
  margin: 2rem;
}

.content {
  width: 60vw;
  margin: 3% 20%;
  background: tan;
  border-radius: 1rem;
}

.quote__container {
  width: 50%;
  margin: 15% 25%;
  text-align: center;
  background: tan;
  border-radius: 1rem;
}

p {
  padding: 1.4rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
}

.quotes__container {
  margin: 1rem;
  box-shadow: 0 4px 10px 1px #637454;
  width: 60%;
}

.quotes__container > li {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
  list-style: none;
}

.author {
  font-style: italic;
  font-size: 0.8rem;
}
